<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout with Sidebar</title>
  <link rel="stylesheet" href="static/dashboard.css">
</head>
<body>
  <div class="sidebar">
    <h2>Quiz</h2>
    <p>Welcome</p>
    <h3>{{user_name}}</h3>
  </div>

  <div class="main-content">
    <header>

      <form action = '/quiz-topics'>
      <button class="header-btn1">Take Quiz</button>
      </form>

      <form action = '/open_score_board' method='GET'>
      <button class="header-btn2">Score Board</button>
      </form>

      <form action = '/logout'>
      <button class="header-btn3">Logout</button>
      </form>
    </header>
    <div class="blank-section">
      <h1>Take a test to be on top</h1>
      
      <p></p>
    </div>
  </div>
</body>
</html>
