<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Topics</title>
    <link rel="stylesheet" href="/static/delete_topic.css">
</head>
<body>
    <div class="header">
        <h1>Delete the Topic</h1>
    </div>

    <div class="topics-container">
        {% for i in range(0,count) %}
            <div class="topic-item">
                <span class="topic-name">{{ topics[i] }}</span>
                <form action="/Delete-Topic">
                <button class="delete-btn" name = "delete_btn" id = "delete_btn" value="{{topics[i]}}">Delete</button>
                </form>
            </div>
        {% endfor %}
    </div>
</body>
</html>